<div
	controller="add"
	margin-top:0px>
	<input
		type="button"
		value="Finished"
		click="done()"
		disabled=" ! count"
		.btn-danger
		.btn-lg
		.col-xs-5
		position:absolute
		left:10
		top:10>
	<div
		position:absolute
		right:50%
		top:50%
		z-index:-1>
		<div
			ng-style="{'margin-right': count < 10 ? '-60px' : count < 100 ? '-100px' : '-140px'}"
			margin-top:-150px
			letter-spacing:-15px
			font-size:200px
			font-weight:100>
			{{count}}
		</div>
	</div>
	<input
		type="camera"
		value="Next Item"
		onchange="nextItem(this.files)"
		.btn-danger
		.btn-lg
		.col-xs-5
		position:absolute
		left:10
		bottom:10>
</div>