<div
	.text-danger
	.text-title
	.col-xs-8>
	Pickup From
</div>
<div
	controller="start"
	.col-xs-12
	.btn-group-vertical
	width:100%>
	<button
		repeat="location in locations"
		click="select(location)"
		ng-class="{active:room == location}"
		.btn-default
		.btn-lg
		.btn-block>
		{{location}}
	</button>
	<div
		error="Must be at least 3 characters long"
		.form-group
		margin-top:20px>
		<span
			.text-danger
			.text-title>
			Donation Id
		</span>
		<button
			click="label = ! label"
			ng-class="{active:label}"
			.pull-right
			.btn-default
			.btn-sm
			margin-top:px>
			More labels
		</button>
		<input
			type="text"
			placeholder="Last 5 digits of tracking #"
			model="tracking"
			minlength="3"
			required
			.input-lg>
		<button
			click="start()"
			disabled=" ! room || ! tracking"
			.btn-danger
			.btn-lg
			.btn-block
			margin-top:20px>
			Start Medication Record
		</button>
	</div>
</div>
